/AI$1.class
/AI$ColonyTransporter.class
/AI.class
/AmoebaShipCaptain.class
/CrystalShipCaptain.class
/EnemyColonyTarget.class
/EnemyShipTarget.class
/FleetOrders.class
/FleetPlan.class
/OrionGuardianCaptain.class
/ShipDecision.class
/ShipPlan.class
/SpacePiratesCaptain.class
