/AIDiplomat.class
/AIFleetCommander.class
/AIGeneral.class
/AIGovernor.class
/AIScientist.class
/AIShipCaptain.class
/AIShipDesigner.class
/AISpyMaster.class
/AITreasurer.class
/NewShipTemplate$DesignDamageSpec.class
/NewShipTemplate$DesignType.class
/NewShipTemplate.class
/ShipBomberTemplate$DesignDamageSpec.class
/ShipBomberTemplate.class
/ShipDestroyerTemplate$DesignDamageSpec.class
/ShipDestroyerTemplate.class
/ShipFighterTemplate$DesignDamageSpec.class
/ShipFighterTemplate.class
