/*Test.java
/ClientClasses.class
/ClientClassesTest$Gui.class
/ClientClassesTest.class
/Group_Advanced$AIHostility.class
/Group_Advanced$AutoPlay.class
/Group_Advanced$Colonizing.class
/Group_Advanced$Council.class
/Group_Advanced$FuelRange.class
/Group_Advanced$GalaxyAge.class
/Group_Advanced$Nebulae.class
/Group_Advanced$PlanetQuality.class
/Group_Advanced$RandomEvents.class
/Group_Advanced$RandomizeAI.class
/Group_Advanced$Research.class
/Group_Advanced$StarDensity.class
/Group_Advanced$TechTrading.class
/Group_Advanced$Terraforming.class
/Group_Advanced$WarpSpeed.class
/Group_Advanced.class
/Group_AdvancedTest.class
/Group_BrokenRegistry$MaximizeEmpiresSpacing.class
/Group_BrokenRegistry$MinStarsPerEmpire.class
/Group_BrokenRegistry$NoPlanetMultiplier.class
/Group_BrokenRegistry$PreferedStarsPerEmpire.class
/Group_BrokenRegistry.class
/Group_Galaxy$Difficulty.class
/Group_Galaxy$GalaxyShape.class
/Group_Galaxy$GalaxySize.class
/Group_Galaxy$GameRaceFilter.class
/Group_Galaxy$GuiPresetOpponent.class
/Group_Galaxy$GuiRaceFilter.class
/Group_Galaxy$NbOpponent.class
/Group_Galaxy$OpponentAI.class
/Group_Galaxy.class
/Group_GalaxyTest.class
/Group_Governor$AutospendOnByDefault.class
/Group_Governor$DefaultMaxBases.class
/Group_Governor$DivertExcessToResearch.class
/Group_Governor$GovernorOnByDefault.class
/Group_Governor.class
/Group_Modnar$AlwaysStarGates.class
/Group_Modnar$AlwaysThorium.class
/Group_Modnar$BattleScouts.class
/Group_Modnar$ChallengeMode.class
/Group_Modnar$CompanionWorlds.class
/Group_Modnar$CustomDifficulty.class
/Group_Modnar$DynamicDifficulty.class
/Group_Modnar$MissileSizeModifier.class
/Group_Modnar$RandomTechStart.class
/Group_Modnar.class
/Group_Race$PlayerColor.class
/Group_Race$PlayerHomeWorld.class
/Group_Race$PlayerName.class
/Group_Race$PlayerRace.class
/Group_Race$Valid_Color.class
/Group_Race.class
/Group_RaceTest.class
/UserProfiles$BaseMod.class
/UserProfiles.class
/UserProfilesTest.class
/Valid_RaceList.class
