/AlliedWithEnemyIncident.class
/AssassinationIncident.class
/AtWarWithAllyIncident.class
/AttackedAllyIncident.class
/AttackedEnemyIncident.class
/BioweaponIncident.class
/BreakAllianceIncident.class
/BreakPactIncident.class
/BreakTradeIncident.class
/CloseEmbassyIncident.class
/CoexistIncident.class
/ColonyAttackedIncident.class
/ColonyCapturedIncident.class
/ColonyDestroyedIncident.class
/ColonyInvadedIncident.class
/CouncilVoteIncident.class
/DeclareWarIncident.class
/DemandTributeIncident.class
/DiplomatIncident.class
/DiplomaticIncident.class
/EcologistIncident.class
/EncroachmentIncident.class
/EnemyAidIncident.class
/ErraticIncident.class
/ErraticWarIncident.class
/EspionageTechIncident.class
/EvictedSpiesIncident.class
/ExchangeTechnologyIncident.class
/ExpansionIncident.class
/ExpansionistIncident.class
/FinalWarIncident.class
/FinancialAidIncident.class
/FirstContactIncident.class
/GenocideIncident.class
/IndustrialistIncident.class
/KillGuardianIncident.class
/KillMonsterIncident.class
/MilitaristIncident.class
/MilitaryBuildupIncident.class
/NoDiplomaticRelationsIncident.class
/OathBreakerIncident.class
/ParanoiaIncident.class
/SabotageBasesIncident.class
/SabotageFactoriesIncident.class
/SabotageRebellionIncident.class
/SignAllianceIncident.class
/SignBreakAllianceIncident.class
/SignDeclareWarIncident.class
/SignPactIncident.class
/SignPeaceIncident.class
/SignTradeIncident.class
/SkirmishIncident.class
/SpyConfessionIncident.class
/TechnologistIncident.class
/TechnologyAidIncident.class
/TradeIncomeIncident.class
/TrespassingIncident.class
